In [6]:
from BeautifulSoup import BeautifulSoup
from urllib2 import urlopen
import urllib2
import re

In [2]:
from collections import defaultdict
import pandas as pd

In [3]:
def save_df(df, name):
    basepath = 'data/'
    filepath = basepath + name
    df.to_csv(filepath)
    return None

In [16]:
def soupscraper(listings):
    for listing in listings:
        data = listing.find("span")
    
        # index is listing id (int)
        id = data['data-hosting_id']
        df_data['Id'].append(id)
    
        try:
            # No. of reviews (int)
            review_count_text = data['data-review_count']
            review_count = int(re.search(r"[0-9]+", review_count_text).group(0))
            df_data['Review_Count'].append(review_count)
        except:
            df_data['Review_Count'].append(0)
    
        # star rating (float)
        star_rating = float(data['data-star_rating'])
        df_data['Star_Rating'].append(star_rating)
    
        # room type (categorical)
        room_type = data['data-room_type']
        df_data['Room_Type'].append(room_type)
    
        # property type (categorical)
        property_type = data['data-property_type_name']
        df_data['Property_Type'].append(property_type)
    
        # person capacity (int)
        capacity = int(data['data-person_capacity_string'])
        df_data['Capacity'].append(capacity)
    
        # No. of bedrooms
        try:
            bedrooms = int(data['data-bedrooms_string'])
            df_data['Bedrooms'].append(bedrooms)
        except ValueError:
            df_data['Bedrooms'].append(0)    
    
        # Price
        price_text = data['data-price']
        price = int(re.search(r"[0-9]+", price_text).group(0))
        df_data['Price'].append(price)
    
    return pd.DataFrame(df_data)

# New York

In [10]:
df_ny = None
for i in range(1,18):
    #print "i: {}".format(i)
    if i == 1:
        site = 'https://www.airbnb.com/s/New-York--NY'
    else:
        site = 'https://www.airbnb.com/s/New-York--NY?page=' + str(i)
        
    header = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(site, headers=header)
    page = urlopen(req)
    soup = BeautifulSoup(page)
    
    listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})
    df_data = defaultdict(list)
    
    df_to_append = soupscraper(listings)
    
    if df_ny is None:
        df_ny = df_to_append
    else:
        df_ny = df_ny.append(df_to_append)

save_df(df_ny, 'df_ny.csv')

In [24]:
df_ny.describe()

         Bedrooms    Capacity       Price  Review_Count  Star_Rating
count  306.000000  306.000000  306.000000    306.000000   306.000000
mean     0.898693    1.973856   92.918301     15.261438     3.663399
std      0.370465    0.784670   45.226460     24.731415     2.067968
min      0.000000    1.000000   20.000000      0.000000     0.000000
25%      1.000000    2.000000   60.000000      3.000000     4.000000
50%      1.000000    2.000000   89.000000      7.500000     4.500000
75%      1.000000    2.000000  115.000000     16.000000     5.000000
max      2.000000    6.000000  275.000000    164.000000     5.000000

# San Francisco

In [8]:
df_sf = None
for i in range(1,18):
    #print "i: {}".format(i)
    if i == 1:
        site = 'https://www.airbnb.com/s/San-Francisco--CA'
    else:
        site = 'https://www.airbnb.com/s/San-Francisco--CA?page=' + str(i)
        
    header = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(site, headers=header)
    page = urlopen(req)
    soup = BeautifulSoup(page)
    
    listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})
    df_data = defaultdict(list)
    
    df_to_append = soupscraper(listings)
    
    if df_sf is None:
        df_sf = df_to_append
    else:
        df_sf = df_sf.append(df_to_append)

In [9]:
save_df(df_sf, 'df_sf.csv')

In [91]:
df_sf.describe()

         Bedrooms    Capacity       Price  Review_Count  Star_Rating
count  306.000000  306.000000  306.000000    306.000000   306.000000
mean     1.003268    2.261438  123.065359     37.212418     4.199346
std      0.521652    1.166591   60.671994     54.148405     1.651963
min      0.000000    1.000000   39.000000      0.000000     0.000000
25%      1.000000    2.000000   80.750000      5.000000     4.500000
50%      1.000000    2.000000  104.000000     14.000000     5.000000
75%      1.000000    2.000000  150.000000     41.750000     5.000000
max      3.000000   11.000000  375.000000    281.000000     5.000000

In [92]:
save_df(df_sf, 'SF_df.csv')

# Los Angeles

In [17]:
df_la = None
for i in range(1,18):
    #print "i: {}".format(i)
    if i == 1:
        site = 'https://www.airbnb.com/s/Los-Angeles'
    else:
        site = 'https://www.airbnb.com/s/Los-Angeles?page=' + str(i)
        
    header = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(site, headers=header)
    page = urlopen(req)
    soup = BeautifulSoup(page)
    
    listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})
    df_data = defaultdict(list)
    
    df_to_append = soupscraper(listings)
    
    if df_la is None:
        df_la = df_to_append
    else:
        df_la = df_la.append(df_to_append)
        
save_df(df_la, 'df_la.csv')

In [25]:
df_la.describe()

         Bedrooms    Capacity       Price  Review_Count  Star_Rating
count  306.000000  306.000000  306.000000    306.000000   306.000000
mean     0.852941    2.000000   77.042484     28.137255     4.112745
std      0.414422    0.705947   31.537979     39.353307     1.778616
min      0.000000    1.000000   15.000000      0.000000     0.000000
25%      1.000000    2.000000   55.000000      6.000000     4.500000
50%      1.000000    2.000000   70.000000     16.000000     5.000000
75%      1.000000    2.000000   99.000000     34.000000     5.000000
max      2.000000    6.000000  250.000000    278.000000     5.000000

In [101]:
df_la.describe()

         Bedrooms    Capacity       Price  Review_Count  Star_Rating
count  306.000000  306.000000  306.000000    306.000000   306.000000
mean     0.866013    2.225490   83.980392     35.352941     4.109477
std      0.516947    1.088601   37.416744     55.504538     1.748613
min      0.000000    1.000000   25.000000      0.000000     0.000000
25%      1.000000    2.000000   59.250000      5.000000     4.500000
50%      1.000000    2.000000   76.000000     13.500000     5.000000
75%      1.000000    2.000000   99.000000     37.000000     5.000000
max      2.000000   13.000000  250.000000    335.000000     5.000000

# Chicago

In [11]:
df_ch = None
for i in range(1,18):
    print "i: {}".format(i)
    if i == 1:
        site = 'https://www.airbnb.com/s/Chicago--IL'
    else:
        site = 'https://www.airbnb.com/s/Chicago--IL?page=' + str(i)
        
    header = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(site, headers=header)
    page = urlopen(req)
    soup = BeautifulSoup(page)
    
    listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})
    df_data = defaultdict(list)
    
    df_to_append = soupscraper(listings)
    
    if df_ch is None:
        df_ch = df_to_append
    else:
        df_ch = df_ch.append(df_to_append)
        
save_df(df_ch, 'df_ch.csv')

i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9
i: 10
i: 11
i: 12
i: 13
i: 14
i: 15
i: 16
i: 17

In [18]:
df_ch.describe()

         Bedrooms    Capacity       Price  Review_Count  Star_Rating
count  306.000000  306.000000  306.000000    306.000000   306.000000
mean     0.990196    2.241830   74.120915     27.359477     3.954248
std      0.400699    0.901919   36.156786     40.900056     1.925548
min      0.000000    1.000000   10.000000      0.000000     0.000000
25%      1.000000    2.000000   50.000000      3.250000     4.500000
50%      1.000000    2.000000   67.000000     12.000000     5.000000
75%      1.000000    2.000000   95.000000     29.000000     5.000000
max      3.000000    6.000000  200.000000    311.000000     5.000000

# Washington DC

In [19]:
df_dc = None
for i in range(1,18):
    print "i: {}".format(i)
    if i == 1:
        site = 'https://www.airbnb.com/s/Washington-DC'
    else:
        site = 'https://www.airbnb.com/s/Washington-DC?page=' + str(i)
        
    header = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(site, headers=header)
    page = urlopen(req)
    soup = BeautifulSoup(page)
    
    listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})
    df_data = defaultdict(list)
    
    df_to_append = soupscraper(listings)
    
    if df_dc is None:
        df_dc = df_to_append
    else:
        df_dc = df_dc.append(df_to_append)
        
save_df(df_dc, 'df_dc.csv')

i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9
i: 10
i: 11
i: 12
i: 13
i: 14
i: 15
i: 16
i: 17

In [20]:
df_dc.describe()

         Bedrooms    Capacity       Price  Review_Count  Star_Rating
count  306.000000  306.000000  306.000000    306.000000   306.000000
mean     0.905229    2.316993   91.836601     34.392157     4.261438
std      0.413904    1.077720   37.423751     59.944918     1.579152
min      0.000000    1.000000   15.000000      0.000000     0.000000
25%      1.000000    2.000000   66.000000      6.000000     4.500000
50%      1.000000    2.000000   89.000000     14.000000     5.000000
75%      1.000000    3.000000  110.000000     35.000000     5.000000
max      3.000000   12.000000  250.000000    432.000000     5.000000

# Dallas

In [22]:
df_da = None
for i in range(1,18):
    print "i: {}".format(i)
    if i == 1:
        site = 'https://www.airbnb.com/s/Dallas'
    else:
        site = 'https://www.airbnb.com/s/Dallas?page=' + str(i)
        
    header = {'User-Agent': 'Mozilla/5.0'}
    req = urllib2.Request(site, headers=header)
    page = urlopen(req)
    soup = BeautifulSoup(page)
    
    listings = soup.findAll("div", {"class": "panel-overlay-top-right wl-social-connection-panel"})
    df_data = defaultdict(list)
    
    df_to_append = soupscraper(listings)
    
    if df_da is None:
        df_da = df_to_append
    else:
        df_da = df_da.append(df_to_append)
        
save_df(df_da, 'df_da.csv')

i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9
i: 10
i: 11
i: 12
i: 13
i: 14
i: 15
i: 16
i: 17

In [23]:
df_da.describe()

         Bedrooms    Capacity       Price  Review_Count  Star_Rating
count  306.000000  306.000000  306.000000    306.000000   306.000000
mean     1.055556    2.732026   80.823529     22.578431     4.165033
std      0.465377    1.275271   36.626805     31.138117     1.746111
min      0.000000    1.000000   13.000000      0.000000     0.000000
25%      1.000000    2.000000   50.000000      4.000000     4.500000
50%      1.000000    2.000000   79.000000     11.500000     5.000000
75%      1.000000    3.000000  100.000000     27.000000     5.000000
max      3.000000    8.000000  269.000000    182.000000     5.000000